.map-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

#map {
  width: 100%;
  height: 100%;
}

.info-box {
  position: absolute;
  top: 0;
  width: 300px;
  height: 100%;
  padding: 15px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.062);
  z-index: 9999;
  color: #000;
}

.car-box {
  margin-bottom: 15px;
}

.car-box h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
}

.car-box p {
  margin: 3px 0;
  font-size: 14px;
}

.plate {
  direction: ltr;
  width: 180px;
  height: 45px;
  background: #ffffff;
  border: 2px solid #000;
  border-radius: 6px;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: sans-serif;
}

.plate .iran {
  background: #1e90ff;
  color: #fff;
  font-size: 10px;
  width: 35px;
  text-align: center;
  height: 100%;
  padding-top: 3px;
  box-sizing: border-box;
  border-right: 2px solid #000;
}

.plate .numbers {
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.my-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
